<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/indexcss.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
	<div id = "box">
		<h1>Write something</h1>
	
		<div id = "fbox">
			<form action="/" method = "POST" class = "pure-form">
				<fieldset class = "pure-group">
					<input type="text" name = "firstname" class = "pure-input-1-2" placeholder = "Name">
					<textarea name="text" class = "pure-input-1-2" placeholder = "Write something"></textarea>
					<button type = "submit" class = "pure-button pure-button-primary">Submit</button>
				</fieldset>
			</form>
		</div>
		
		<div id = "chatbox">
			<% for(var i = 0; i < data.length; i++) { %>
				<p id = "uName" ><%= data[i].firstName %></p>
				<p id = "uText"><%= data[i].text %></p>
			<% } %>
		</div>

	</div>
</body>
</html>