body{
	margin:0;
	-webkit-box-sizing: border-box;
	font-family:sans-serif;
}

#box{
	width:80%;
	margin:0 auto;
	text-align:center;
}
#box h1{
	text-align: center;
	color: #AEAEAE
;
}

#fbox{
	width:60%;
	margin:0 auto;
}

#fbox form input{
	margin:0 auto;
}
#fbox form textarea{
	margin:0 auto;
}

#chatbox{
	width: 60%;
	margin:0 auto;
}
#uName{
	color: #FF0000;
}

